OffGas_Cloud_API_Flow.json
[
    {
        "id": "120ca2f2695d22bc",
        "type": "tab",
        "label": "OffGas Cloud API",
        "disabled": false,
        "info": "HTTP API + command pipeline + dataset management for the OffGas dashboard",
        "env": [
            {
                "name": "DATASET_DIR",
                "value": "/data/offgas-datasets",
                "type": "str"
            },
            {
                "name": "ANOMALY_FACTOR",
                "value": "1.5",
                "type": "num"
            },
            {
                "name": "DISPLAY_LIMIT",
                "value": "6",
                "type": "num"
            }
        ]
    },
    {
        "id": "5dd4d19bee65b6dd",
        "type": "comment",
        "z": "120ca2f2695d22bc",
        "name": "Dataset folder",
        "info": "Create the folder defined by DATASET_DIR and place these four files inside it: dataset_garage.csv, dataset_high_pollution.csv, dataset_low_pollution.csv, dataset_realistic_pollution.csv. Re-selecting a dataset reloads the file from disk.",
        "x": 300,
        "y": 980,
        "wires": []
    },
    {
        "id": "2399012f66526019",
        "type": "mqtt in",
        "z": "120ca2f2695d22bc",
        "name": "G1 telemetry in",
        "topic": "garages/G1/telemetry",
        "qos": "2",
        "datatype": "json",
        "broker": "81223a50cede7de0",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 160,
        "wires": [
            [
                "5b25a9b4975e71af",
                "6142736d1824de89"
            ]
        ]
    },
    {
        "id": "5b25a9b4975e71af",
        "type": "debug",
        "z": "120ca2f2695d22bc",
        "name": "debug telemetry",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 420,
        "y": 120,
        "wires": []
    },
    {
        "id": "6142736d1824de89",
        "type": "function",
        "z": "120ca2f2695d22bc",
        "name": "CacheTelemetry",
        "func": "const payload = msg.payload || {};\nflow.set(\"telemetry\", payload);\nflow.set(\"lastTelemetryMs\", Date.now());\nflow.set(\"updated_at\", payload.timestamp || new Date().toISOString());\n\nconst datasetRows = flow.get(\"dataset_rows\") || [];\nconst displayLimit = Number(env.get(\"DISPLAY_LIMIT\") || 6);\nconst anomalyFactor = Number(env.get(\"ANOMALY_FACTOR\") || 1.5);\nconst mode = flow.get(\"mode\") || \"AUTO\";\nconst shutdownActive = !!flow.get(\"shutdown_active\");\n\nconst noisy = datasetRows.slice(0, Math.max(0, displayLimit - 1)).map((row) => ({\n    garage_id: row.garage_id,\n    value: Math.max(0, Number(row.value || 0) + Math.floor(Math.random() * 31) - 15)\n}));\n\nflow.set(\"others_displayed\", noisy);\n\nconst meanSource = noisy.length ? noisy : datasetRows;\nconst mean = meanSource.length\n    ? meanSource.reduce((acc, row) => acc + Number(row.value || 0), 0) / meanSource.length\n    : 0;\n\nconst liveOthersMean = Number(mean.toFixed(2));\nflow.set(\"others_mean\", liveOthersMean);\n\nconst threshold = Number.isFinite(Number(payload.threshold))\n    ? Number(Number(payload.threshold).toFixed(2))\n    : Number((liveOthersMean * anomalyFactor).toFixed(2));\n\nflow.set(\"effective_threshold\", threshold);\n\nconst predictors = flow.get(\"garage_predictors\") || {};\nconst evaluated = noisy.map((garage) => {\n    const garageId = garage.garage_id;\n    const value = Number(garage.value || 0);\n\n    const state = predictors[garageId] || { history: [], previous_avg: null };\n    const history = Array.isArray(state.history) ? state.history.slice() : [];\n    history.push(value);\n    if (history.length > 20) {\n        history.shift();\n    }\n\n    let predictedGas = value;\n    let predictedCrossing = false;\n\n    const movingAvg = history.length\n        ? history.reduce((acc, v) => acc + Number(v || 0), 0) / history.length\n        : value;\n\n    if (history.length >= 5 && state.previous_avg !== null && state.previous_avg !== undefined) {\n        const growthRate = movingAvg - state.previous_avg;\n        predictedGas = value + (growthRate * 150);\n        predictedCrossing = predictedGas > threshold;\n    }\n\n    predictors[garageId] = {\n        history,\n        previous_avg: movingAvg\n    };\n\n    const anomaly = value > threshold;\n    const status = anomaly ? \"CRITICAL\" : predictedCrossing ? \"WARNING\" : \"SAFE\";\n\n    const fanActive = shutdownActive\n        ? false\n        : mode === \"ON\"\n            ? true\n            : mode === \"OFF\"\n                ? false\n                : (status === \"WARNING\" || status === \"CRITICAL\");\n\n    return {\n        garage_id: garageId,\n        value,\n        threshold,\n        predicted_gas: Math.round(predictedGas),\n        predicted_crossing: predictedCrossing,\n        anomaly,\n        status,\n        fan_active: fanActive\n    };\n});\n\nflow.set(\"garage_predictors\", predictors);\nflow.set(\"evaluated_other_garages\", evaluated);\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 160,
        "wires": [
            [
                "69dfcecac4f5199d"
            ]
        ]
    },
    {
        "id": "69dfcecac4f5199d",
        "type": "function",
        "z": "120ca2f2695d22bc",
        "name": "PredictionNextValue",
        "func": "var gas = Number(msg.payload.gas);\nvar threshold = Number(msg.payload.threshold);\n\nif (!Number.isFinite(threshold)) {\n    threshold = Number(flow.get(\"effective_threshold\"));\n}\n\nif (!Number.isFinite(threshold)) {\n    threshold = 0;\n}\n\nmsg.payload.threshold = threshold;\n\nvar history = context.get(\"gas_history\") || [];\nvar previousAvg = context.get(\"previous_avg\");\n\nhistory.push(gas);\nif (history.length > 20) {\n    history.shift();\n}\n\nif (history.length < 5) {\n    context.set(\"gas_history\", history);\n    msg.payload.mode = \"STD\";\n    msg.payload.anomaly = false;\n    msg.payload.predicted_crossing = false;\n    return msg;\n}\n\nvar sum = 0;\nfor (var i = 0; i < history.length; i++) {\n    sum += history[i];\n}\nvar movingAvg = sum / history.length;\n\nif (previousAvg == null) {\n    context.set(\"previous_avg\", movingAvg);\n    context.set(\"gas_history\", history);\n    msg.payload.mode = \"STD\";\n    msg.payload.anomaly = false;\n    msg.payload.predicted_crossing = false;\n    return msg;\n}\n\nvar growthRate = movingAvg - previousAvg;\ncontext.set(\"previous_avg\", movingAvg);\ncontext.set(\"gas_history\", history);\n\nvar predictedGas = gas + (growthRate * 150);\nmsg.payload.predicted_gas = Math.round(predictedGas);\n\nmsg.payload.mode = \"STD\";\nmsg.payload.anomaly = gas > threshold;\nmsg.payload.predicted_crossing = predictedGas > threshold;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 160,
        "wires": [
            [
                "64fed63c6a08e294",
                "1ca6e9f8261ff6f4"
            ]
        ],
        "info": "msg.payload.gas\r\nmsg.payload.threshold"
    },
    {
        "id": "64fed63c6a08e294",
        "type": "function",
        "z": "120ca2f2695d22bc",
        "name": "AnomalyDetection",
        "func": "var gas = Number(msg.payload.gas);\nvar threshold = Number(msg.payload.threshold);\n\nif (!Number.isFinite(threshold)) {\n    threshold = Number(flow.get(\"effective_threshold\"));\n}\n\nif (!Number.isFinite(threshold)) {\n    threshold = 0;\n}\n\nmsg.payload = {\n    mode: \"STD\",\n    anomaly: gas > threshold,\n    predicted_crossing: !!msg.payload.predicted_crossing,\n    predicted_gas: msg.payload.predicted_gas,\n    gas: gas,\n    threshold: threshold\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 940,
        "y": 160,
        "wires": [
            [
                "18da8d0a7ceacd03",
                "b6fdb6a2b4419a97"
            ]
        ]
    },
    {
        "id": "18da8d0a7ceacd03",
        "type": "function",
        "z": "120ca2f2695d22bc",
        "name": "CacheAutoDecision",
        "func": "flow.set(\"latest_auto_command\", msg.payload);\nflow.set(\"updated_at\", new Date().toISOString());\n\nif (!flow.get(\"manual_override\")) {\n    flow.set(\"mode\", \"AUTO\");\n    flow.set(\"latest_manual_command\", \"AUTO\");\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1210,
        "y": 160,
        "wires": [
            [
                "6276c6d31bb47bd1"
            ]
        ]
    },
    {
        "id": "6276c6d31bb47bd1",
        "type": "mqtt out",
        "z": "120ca2f2695d22bc",
        "name": "to bridge auto cmd",
        "topic": "garages/G1/cmd",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "81223a50cede7de0",
        "x": 1480,
        "y": 160,
        "wires": []
    },
    {
        "id": "527c1d7c5f9c1dd6",
        "type": "mqtt in",
        "z": "120ca2f2695d22bc",
        "name": "G1 alerts in",
        "topic": "garages/G1/alerts",
        "qos": "2",
        "datatype": "json",
        "broker": "81223a50cede7de0",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 240,
        "wires": [
            [
                "a8d5cab6e2b4ad99"
            ]
        ]
    },
    {
        "id": "a8d5cab6e2b4ad99",
        "type": "function",
        "z": "120ca2f2695d22bc",
        "name": "CacheLatestAlert",
        "func": "flow.set(\"latest_alert\", msg.payload);\nflow.set(\"updated_at\", new Date().toISOString());\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "b6fdb6a2b4419a97",
        "type": "function",
        "z": "120ca2f2695d22bc",
        "name": "TelegramAlert",
        "func": "let fanStatus = context.get(\"fan_status\") || false;\nconst CHAT_ID = -5156593128;\n\nfunction formatTelegram(text) {\n    return {\n        chatId: CHAT_ID,\n        type: \"message\",\n        content: text\n    };\n}\n\nif (typeof msg.payload === \"string\") {\n    if (msg.payload === \"FAN_ON\") {\n        context.set(\"manual_mode\", true);\n        if (!fanStatus) {\n            context.set(\"fan_status\", true);\n            const out = formatTelegram(\n                \"**MANUAL COMMAND**\\nFan ON.\\nSensors ignored until AUTO command.\"\n            );\n            flow.set(\"latest_alert\", out);\n            msg.payload = out;\n            return msg;\n        }\n        return null;\n    }\n\n    if (msg.payload === \"FAN_OFF\") {\n        context.set(\"manual_mode\", true);\n        if (fanStatus) {\n            context.set(\"fan_status\", false);\n            const out = formatTelegram(\n                \"**MANUAL COMMAND**\\nFan OFF.\\nSensors ignored until AUTO command.\"\n            );\n            flow.set(\"latest_alert\", out);\n            msg.payload = out;\n            return msg;\n        }\n        return null;\n    }\n\n    if (msg.payload === \"AUTO\" || msg.payload === \"AUTO_MODE\") {\n        context.set(\"manual_mode\", false);\n        const out = formatTelegram(\n            \"**AUTO MODE**\\nSensor logic takes back control.\"\n        );\n        flow.set(\"latest_alert\", out);\n        msg.payload = out;\n        return msg;\n    }\n\n    return null;\n}\n\nif (typeof msg.payload === \"object\" && msg.payload !== null) {\n    if (context.get(\"manual_mode\")) {\n        return null;\n    }\n\n    let anomaly = msg.payload.anomaly;\n    let gas = msg.payload.predicted_gas || \"N/A\";\n\n    if (anomaly && !fanStatus) {\n        context.set(\"fan_status\", true);\n        const out = formatTelegram(\n            \"**GAS ALERT (G1)**\\n\" +\n            \"Predicted gas: \" + gas + \"\\n\" +\n            \"Threshold exceeded. Fan activated.\"\n        );\n        flow.set(\"latest_alert\", out);\n        msg.payload = out;\n        return msg;\n    }\n\n    if (!anomaly && fanStatus) {\n        context.set(\"fan_status\", false);\n        const out = formatTelegram(\n            \"**GAS NORMALIZED (G1)**\\n\" +\n            \"Values back to normal. Fan deactivated.\"\n        );\n        flow.set(\"latest_alert\", out);\n        msg.payload = out;\n        return msg;\n    }\n}\n\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1210,
        "y": 240,
        "wires": [
            [
                "6211b9576b52b92b",
                "7878f8f1fa536df7"
            ]
        ]
    },
    {
        "id": "6211b9576b52b92b",
        "type": "telegram sender",
        "z": "120ca2f2695d22bc",
        "name": "TelegramBot",
        "bot": "cc501ce1a6ea860b",
        "haserroroutput": false,
        "outputs": 1,
        "x": 1480,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "7878f8f1fa536df7",
        "type": "debug",
        "z": "120ca2f2695d22bc",
        "name": "debug telegram",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1480,
        "y": 280,
        "wires": []
    },
    {
        "id": "0d481402dbb3b73b",
        "type": "inject",
        "z": "120ca2f2695d22bc",
        "name": "FAN_ON",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "FAN_ON",
        "payloadType": "str",
        "x": 140,
        "y": 400,
        "wires": [
            [
                "a94aa68e202f7e4e"
            ]
        ]
    },
    {
        "id": "de0b832fe5379b45",
        "type": "inject",
        "z": "120ca2f2695d22bc",
        "name": "FAN_OFF",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "FAN_OFF",
        "payloadType": "str",
        "x": 140,
        "y": 450,
        "wires": [
            [
                "a94aa68e202f7e4e"
            ]
        ]
    },
    {
        "id": "b61f82021c6690b0",
        "type": "inject",
        "z": "120ca2f2695d22bc",
        "name": "AUTO",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "AUTO",
        "payloadType": "str",
        "x": 130,
        "y": 500,
        "wires": [
            [
                "a94aa68e202f7e4e"
            ]
        ]
    },
    {
        "id": "a94aa68e202f7e4e",
        "type": "function",
        "z": "120ca2f2695d22bc",
        "name": "CacheManualCommand (local)",
        "func": "const cmd = String(msg.payload || \"\").toUpperCase();\nif (![\"FAN_ON\",\"FAN_OFF\",\"AUTO\",\"AUTO_MODE\"].includes(cmd)) {\n    return null;\n}\n\nif (flow.get(\"shutdown_active\")) {\n    return null;\n}\n\nflow.set(\"latest_manual_command\", cmd);\nflow.set(\"updated_at\", new Date().toISOString());\n\nif (cmd === \"FAN_ON\") {\n    flow.set(\"mode\", \"ON\");\n    flow.set(\"manual_override\", true);\n} else if (cmd === \"FAN_OFF\") {\n    flow.set(\"mode\", \"OFF\");\n    flow.set(\"manual_override\", true);\n} else {\n    flow.set(\"mode\", \"AUTO\");\n    flow.set(\"manual_override\", false);\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 450,
        "wires": [
            [
                "b0bcd67580bad4b1",
                "b6fdb6a2b4419a97"
            ]
        ]
    },
    {
        "id": "b0bcd67580bad4b1",
        "type": "mqtt out",
        "z": "120ca2f2695d22bc",
        "name": "to bridge manual cmd",
        "topic": "garages/G1/cmd",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "81223a50cede7de0",
        "x": 760,
        "y": 450,
        "wires": []
    },
    {
        "id": "063f1cf7ba586910",
        "type": "http in",
        "z": "120ca2f2695d22bc",
        "name": "GET /api/state",
        "url": "/api/state",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 140,
        "y": 760,
        "wires": [
            [
                "d7a475ec5367dd3d"
            ]
        ]
    },
    {
        "id": "d7a475ec5367dd3d",
        "type": "function",
        "z": "120ca2f2695d22bc",
        "name": "BuildDashboardState",
        "func": "const telemetry = flow.get(\"telemetry\") || null;\nconst latestAuto = flow.get(\"latest_auto_command\") || null;\nconst latestManual = flow.get(\"latest_manual_command\") || \"AUTO\";\nconst latestAlert = flow.get(\"latest_alert\") || null;\nconst mode = flow.get(\"mode\") || \"AUTO\";\nconst shutdownActive = !!flow.get(\"shutdown_active\");\nconst anomalyFactor = Number(env.get(\"ANOMALY_FACTOR\") || 1.5);\nconst displayLimit = Number(env.get(\"DISPLAY_LIMIT\") || 6);\n\nlet datasetRows = flow.get(\"dataset_rows\") || [];\nlet othersDisplayed = flow.get(\"others_displayed\") || [];\nlet othersMean = Number(flow.get(\"others_mean\") || 0);\nlet evaluatedOthers = flow.get(\"evaluated_other_garages\") || [];\n\nif ((!datasetRows || datasetRows.length === 0) && othersDisplayed.length === 0) {\n    datasetRows = [\n        { garage_id: \"G2\", value: 100 },\n        { garage_id: \"G3\", value: 98 },\n        { garage_id: \"G4\", value: 101 },\n        { garage_id: \"G5\", value: 102 },\n        { garage_id: \"G6\", value: 99 }\n    ];\n    othersDisplayed = datasetRows.slice(0, Math.max(0, displayLimit - 1));\n    othersMean = 100;\n}\n\nconst otherRows = othersDisplayed.length\n    ? othersDisplayed.slice(0, Math.max(0, displayLimit - 1))\n    : datasetRows.slice(0, Math.max(0, displayLimit - 1));\n\nconst liveOthersMean = otherRows.length\n    ? Number((otherRows.reduce((acc, row) => acc + Number(row.value || 0), 0) / otherRows.length).toFixed(2))\n    : othersMean;\n\nconst threshold = (() => {\n    if (telemetry && Number.isFinite(Number(telemetry.threshold))) {\n        return Number(Number(telemetry.threshold).toFixed(2));\n    }\n    return Number((liveOthersMean * anomalyFactor).toFixed(2));\n})();\n\nconst lastTelemetryMs = Number(flow.get(\"lastTelemetryMs\") || 0);\nconst mqttConnected = lastTelemetryMs > 0 && (Date.now() - lastTelemetryMs) < 7000;\n\nconst g1Value = Number(telemetry?.gas || 0);\nconst g1Anomaly = !!(latestAuto && latestAuto.anomaly) || g1Value > threshold;\nconst g1PredictedCrossing = !g1Anomaly && !!(latestAuto && latestAuto.predicted_crossing);\nconst g1Status = g1Anomaly ? \"CRITICAL\" : g1PredictedCrossing ? \"WARNING\" : \"SAFE\";\nconst g1Fan = shutdownActive\n    ? false\n    : (mode === \"ON\"\n        ? true\n        : mode === \"OFF\"\n            ? false\n            : (g1Status === \"WARNING\" || g1Status === \"CRITICAL\" || !!telemetry?.fan_state));\n\nconst displaySensors = [{\n    garage_id: \"G1\",\n    value: g1Value,\n    threshold,\n    status: g1Status,\n    fan_active: g1Fan,\n    anomaly: g1Anomaly,\n    predicted_crossing: g1PredictedCrossing\n}];\n\nif (!Array.isArray(evaluatedOthers) || evaluatedOthers.length === 0) {\n    evaluatedOthers = otherRows.map((row) => {\n        const value = Number(row.value || 0);\n        const anomaly = value > threshold;\n        const predictedCrossing = false;\n        const status = anomaly ? \"CRITICAL\" : predictedCrossing ? \"WARNING\" : \"SAFE\";\n        const fanActive = shutdownActive\n            ? false\n            : (mode === \"ON\"\n                ? true\n                : mode === \"OFF\"\n                    ? false\n                    : (status === \"WARNING\" || status === \"CRITICAL\"));\n\n        return {\n            garage_id: row.garage_id,\n            value,\n            threshold,\n            status,\n            fan_active: fanActive,\n            anomaly,\n            predicted_crossing: predictedCrossing\n        };\n    });\n}\n\nfor (const row of evaluatedOthers.slice(0, Math.max(0, displayLimit - 1))) {\n    displaySensors.push({\n        garage_id: row.garage_id,\n        value: Number(row.value || 0),\n        threshold,\n        status: row.status || \"SAFE\",\n        fan_active: shutdownActive\n            ? false\n            : (mode === \"ON\"\n                ? true\n                : mode === \"OFF\"\n                    ? false\n                    : !!row.fan_active),\n        anomaly: !!row.anomaly,\n        predicted_crossing: !!row.predicted_crossing\n    });\n}\n\nmsg.payload = {\n    mqtt_connected: mqttConnected,\n    broker_url: \"Node-RED cloud pipeline\",\n    telemetry,\n    latest_auto_command: latestAuto,\n    latest_manual_command: latestManual,\n    latest_alert: latestAlert,\n    others_mean: liveOthersMean,\n    threshold,\n    anomaly_factor: anomalyFactor,\n    mode,\n    display_sensors: displaySensors,\n    updated_at: telemetry?.timestamp || flow.get(\"updated_at\") || new Date().toISOString(),\n    dataset_name: flow.get(\"dataset_name\") || \"Nominal State\",\n    available_datasets: flow.get(\"available_datasets\") || [\"Nominal State\", \"Critical State\", \"Low Pollution\", \"Realistic Pollution\"],\n    selected_dataset: Number(flow.get(\"selected_dataset\") || 0),\n    shutdown_active: shutdownActive\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 760,
        "wires": [
            [
                "0a3eba997a107da3"
            ]
        ]
    },
    {
        "id": "0a3eba997a107da3",
        "type": "http response",
        "z": "120ca2f2695d22bc",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 710,
        "y": 760,
        "wires": []
    },
    {
        "id": "96f751dab135bcae",
        "type": "http in",
        "z": "120ca2f2695d22bc",
        "name": "POST /api/control",
        "url": "/api/control",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 140,
        "y": 840,
        "wires": [
            [
                "43c237abd567a5bb"
            ]
        ]
    },
    {
        "id": "43c237abd567a5bb",
        "type": "json",
        "z": "120ca2f2695d22bc",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 370,
        "y": 840,
        "wires": [
            [
                "b7aa914ff7b31343"
            ]
        ]
    },
    {
        "id": "b7aa914ff7b31343",
        "type": "function",
        "z": "120ca2f2695d22bc",
        "name": "DashboardControl",
        "func": "let body = msg.payload;\n\nif (typeof body === \"string\") {\n    try {\n        body = JSON.parse(body);\n    } catch (e) {\n        body = {};\n    }\n}\n\nif (flow.get(\"shutdown_active\")) {\n    msg.statusCode = 409;\n    msg.payload = { error: \"System is in emergency shutoff\" };\n    return [null, msg];\n}\n\nconst mode = String(body.mode || \"\").toUpperCase().trim();\n\nlet cmd = null;\nif (mode === \"ON\") cmd = \"FAN_ON\";\nelse if (mode === \"OFF\") cmd = \"FAN_OFF\";\nelse if (mode === \"AUTO\") cmd = \"AUTO\";\n\nif (!cmd) {\n    msg.statusCode = 400;\n    msg.payload = { error: \"mode must be AUTO, ON, or OFF\" };\n    return [null, msg];\n}\n\nmsg.payload = cmd;\nreturn [msg, null];",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 840,
        "wires": [
            [
                "bc5296d02917dc05"
            ],
            [
                "ff89e5e08c544686"
            ]
        ]
    },
    {
        "id": "bc5296d02917dc05",
        "type": "function",
        "z": "120ca2f2695d22bc",
        "name": "CacheManualCommand (api)",
        "func": "const cmd = String(msg.payload || \"\").toUpperCase();\nif (![\"FAN_ON\",\"FAN_OFF\",\"AUTO\",\"AUTO_MODE\"].includes(cmd)) {\n    return null;\n}\n\nif (flow.get(\"shutdown_active\")) {\n    return null;\n}\n\nflow.set(\"latest_manual_command\", cmd);\nflow.set(\"updated_at\", new Date().toISOString());\n\nif (cmd === \"FAN_ON\") {\n    flow.set(\"mode\", \"ON\");\n    flow.set(\"manual_override\", true);\n} else if (cmd === \"FAN_OFF\") {\n    flow.set(\"mode\", \"OFF\");\n    flow.set(\"manual_override\", true);\n} else {\n    flow.set(\"mode\", \"AUTO\");\n    flow.set(\"manual_override\", false);\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 890,
        "y": 820,
        "wires": [
            [
                "34733928f5a03fd6",
                "b6fdb6a2b4419a97",
                "17be9bed34a8334c"
            ]
        ]
    },
    {
        "id": "34733928f5a03fd6",
        "type": "mqtt out",
        "z": "120ca2f2695d22bc",
        "name": "to bridge manual cmd",
        "topic": "garages/G1/cmd",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "81223a50cede7de0",
        "x": 1200,
        "y": 780,
        "wires": []
    },
    {
        "id": "17be9bed34a8334c",
        "type": "function",
        "z": "120ca2f2695d22bc",
        "name": "BuildDashboardState",
        "func": "const telemetry = flow.get(\"telemetry\") || null;\nconst latestAuto = flow.get(\"latest_auto_command\") || null;\nconst latestManual = flow.get(\"latest_manual_command\") || \"AUTO\";\nconst latestAlert = flow.get(\"latest_alert\") || null;\nconst mode = flow.get(\"mode\") || \"AUTO\";\nconst shutdownActive = !!flow.get(\"shutdown_active\");\nconst anomalyFactor = Number(env.get(\"ANOMALY_FACTOR\") || 1.5);\nconst displayLimit = Number(env.get(\"DISPLAY_LIMIT\") || 6);\n\nlet datasetRows = flow.get(\"dataset_rows\") || [];\nlet othersDisplayed = flow.get(\"others_displayed\") || [];\nlet othersMean = Number(flow.get(\"others_mean\") || 0);\nlet evaluatedOthers = flow.get(\"evaluated_other_garages\") || [];\n\nif ((!datasetRows || datasetRows.length === 0) && othersDisplayed.length === 0) {\n    datasetRows = [\n        { garage_id: \"G2\", value: 100 },\n        { garage_id: \"G3\", value: 98 },\n        { garage_id: \"G4\", value: 101 },\n        { garage_id: \"G5\", value: 102 },\n        { garage_id: \"G6\", value: 99 }\n    ];\n    othersDisplayed = datasetRows.slice(0, Math.max(0, displayLimit - 1));\n    othersMean = 100;\n}\n\nconst otherRows = othersDisplayed.length\n    ? othersDisplayed.slice(0, Math.max(0, displayLimit - 1))\n    : datasetRows.slice(0, Math.max(0, displayLimit - 1));\n\nconst liveOthersMean = otherRows.length\n    ? Number((otherRows.reduce((acc, row) => acc + Number(row.value || 0), 0) / otherRows.length).toFixed(2))\n    : othersMean;\n\nconst threshold = (() => {\n    if (telemetry && Number.isFinite(Number(telemetry.threshold))) {\n        return Number(Number(telemetry.threshold).toFixed(2));\n    }\n    return Number((liveOthersMean * anomalyFactor).toFixed(2));\n})();\n\nconst lastTelemetryMs = Number(flow.get(\"lastTelemetryMs\") || 0);\nconst mqttConnected = lastTelemetryMs > 0 && (Date.now() - lastTelemetryMs) < 7000;\n\nconst g1Value = Number(telemetry?.gas || 0);\nconst g1Anomaly = !!(latestAuto && latestAuto.anomaly) || g1Value > threshold;\nconst g1PredictedCrossing = !g1Anomaly && !!(latestAuto && latestAuto.predicted_crossing);\nconst g1Status = g1Anomaly ? \"CRITICAL\" : g1PredictedCrossing ? \"WARNING\" : \"SAFE\";\nconst g1Fan = shutdownActive\n    ? false\n    : (mode === \"ON\"\n        ? true\n        : mode === \"OFF\"\n            ? false\n            : (g1Status === \"WARNING\" || g1Status === \"CRITICAL\" || !!telemetry?.fan_state));\n\nconst displaySensors = [{\n    garage_id: \"G1\",\n    value: g1Value,\n    threshold,\n    status: g1Status,\n    fan_active: g1Fan,\n    anomaly: g1Anomaly,\n    predicted_crossing: g1PredictedCrossing\n}];\n\nif (!Array.isArray(evaluatedOthers) || evaluatedOthers.length === 0) {\n    evaluatedOthers = otherRows.map((row) => {\n        const value = Number(row.value || 0);\n        const anomaly = value > threshold;\n        const predictedCrossing = false;\n        const status = anomaly ? \"CRITICAL\" : predictedCrossing ? \"WARNING\" : \"SAFE\";\n        const fanActive = shutdownActive\n            ? false\n            : (mode === \"ON\"\n                ? true\n                : mode === \"OFF\"\n                    ? false\n                    : (status === \"WARNING\" || status === \"CRITICAL\"));\n\n        return {\n            garage_id: row.garage_id,\n            value,\n            threshold,\n            status,\n            fan_active: fanActive,\n            anomaly,\n            predicted_crossing: predictedCrossing\n        };\n    });\n}\n\nfor (const row of evaluatedOthers.slice(0, Math.max(0, displayLimit - 1))) {\n    displaySensors.push({\n        garage_id: row.garage_id,\n        value: Number(row.value || 0),\n        threshold,\n        status: row.status || \"SAFE\",\n        fan_active: shutdownActive\n            ? false\n            : (mode === \"ON\"\n                ? true\n                : mode === \"OFF\"\n                    ? false\n                    : !!row.fan_active),\n        anomaly: !!row.anomaly,\n        predicted_crossing: !!row.predicted_crossing\n    });\n}\n\nmsg.payload = {\n    mqtt_connected: mqttConnected,\n    broker_url: \"Node-RED cloud pipeline\",\n    telemetry,\n    latest_auto_command: latestAuto,\n    latest_manual_command: latestManual,\n    latest_alert: latestAlert,\n    others_mean: liveOthersMean,\n    threshold,\n    anomaly_factor: anomalyFactor,\n    mode,\n    display_sensors: displaySensors,\n    updated_at: telemetry?.timestamp || flow.get(\"updated_at\") || new Date().toISOString(),\n    dataset_name: flow.get(\"dataset_name\") || \"Nominal State\",\n    available_datasets: flow.get(\"available_datasets\") || [\"Nominal State\", \"Critical State\", \"Low Pollution\", \"Realistic Pollution\"],\n    selected_dataset: Number(flow.get(\"selected_dataset\") || 0),\n    shutdown_active: shutdownActive\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1200,
        "y": 840,
        "wires": [
            [
                "ff89e5e08c544686"
            ]
        ]
    },
    {
        "id": "ff89e5e08c544686",
        "type": "http response",
        "z": "120ca2f2695d22bc",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1470,
        "y": 840,
        "wires": []
    },
    {
        "id": "5897397138c3a82e",
        "type": "http in",
        "z": "120ca2f2695d22bc",
        "name": "GET /api/datasets",
        "url": "/api/datasets",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 140,
        "y": 920,
        "wires": [
            [
                "f3fdacdcf579daa3"
            ]
        ]
    },
    {
        "id": "f3fdacdcf579daa3",
        "type": "function",
        "z": "120ca2f2695d22bc",
        "name": "ListDatasets",
        "func": "const labels = [\"Nominal State\",\"Critical State\",\"Low Pollution\",\"Realistic Pollution\"];\nflow.set(\"available_datasets\", labels);\nmsg.payload = {\n    datasets: labels,\n    selected_dataset: Number(flow.get(\"selected_dataset\") || 0)\n};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 920,
        "wires": [
            [
                "19fbed88241216c8"
            ]
        ]
    },
    {
        "id": "19fbed88241216c8",
        "type": "http response",
        "z": "120ca2f2695d22bc",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 690,
        "y": 920,
        "wires": []
    },
    {
        "id": "2c35de7cb3046f44",
        "type": "http in",
        "z": "120ca2f2695d22bc",
        "name": "POST /api/dataset",
        "url": "/api/dataset",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 140,
        "y": 1060,
        "wires": [
            [
                "509573f2ca8315d6"
            ]
        ]
    },
    {
        "id": "509573f2ca8315d6",
        "type": "json",
        "z": "120ca2f2695d22bc",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 370,
        "y": 1060,
        "wires": [
            [
                "42f291d5be589028"
            ]
        ]
    },
    {
        "id": "42f291d5be589028",
        "type": "function",
        "z": "120ca2f2695d22bc",
        "name": "SelectDatasetMeta",
        "func": "const base = String(env.get(\"DATASET_DIR\") || \"/data/offgas-datasets\");\n\nconst datasets = [\n    { index: 0, label: \"Nominal State\", file: base + \"/dataset_garage.csv\" },\n    { index: 1, label: \"Critical State\", file: base + \"/dataset_high_pollution.csv\" },\n    { index: 2, label: \"Low Pollution\", file: base + \"/dataset_low_pollution.csv\" },\n    { index: 3, label: \"Realistic Pollution\", file: base + \"/dataset_realistic_pollution.csv\" }\n];\n\nlet body = msg.payload;\n\nif (typeof body === \"string\") {\n    try {\n        body = JSON.parse(body);\n    } catch (e) {\n        body = {};\n    }\n}\n\nlet index;\nif (typeof body === \"number\") {\n    index = Number(body);\n} else if (body && typeof body === \"object\" && body.index !== undefined) {\n    index = Number(body.index);\n} else {\n    index = Number(flow.get(\"selected_dataset\") || 0);\n}\n\nconst found = datasets.find(d => d.index === index);\n\nif (!found) {\n    msg.statusCode = 400;\n    msg.payload = { error: \"Invalid dataset index\" };\n    return [null, msg];\n}\n\nflow.set(\"selected_dataset\", found.index);\nflow.set(\"dataset_name\", found.label);\nflow.set(\"available_datasets\", datasets.map(d => d.label));\n\nmsg.filename = found.file;\nmsg.datasetMeta = found;\n\nreturn [msg, null];",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 1060,
        "wires": [
            [
                "d348ed87c35198b5"
            ],
            [
                "56a416b4225db871"
            ]
        ]
    },
    {
        "id": "d348ed87c35198b5",
        "type": "file in",
        "z": "120ca2f2695d22bc",
        "name": "Read dataset file",
        "filename": "filename",
        "filenameType": "msg",
        "format": "utf8",
        "chunk": false,
        "sendError": true,
        "encoding": "none",
        "allProps": false,
        "x": 890,
        "y": 1060,
        "wires": [
            [
                "81be5101ecaeb77c"
            ]
        ]
    },
    {
        "id": "81be5101ecaeb77c",
        "type": "function",
        "z": "120ca2f2695d22bc",
        "name": "ParseDatasetCsv",
        "func": "const text = String(msg.payload || \"\").split(\"\\r\").join(\"\").trim(); const lines = text.split(\"\\n\").map(line => line.trim()).filter(Boolean); const rows = []; for (let i = 1; i < lines.length; i++) { const line = lines[i]; let parts = line.split(\",\"); if (parts.length < 2) { parts = line.split(\";\") } if (parts.length < 2) { continue } const garage_id = String(parts[0]).trim(); const value = Number(String(parts[1]).trim()); if (!garage_id || garage_id === \"G1\" || !Number.isFinite(value)) { continue } rows.push({ garage_id, value }) } msg.payload = rows; return msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1130,
        "y": 1060,
        "wires": [
            [
                "41a58e8c8e71e0cc"
            ]
        ]
    },
    {
        "id": "41a58e8c8e71e0cc",
        "type": "function",
        "z": "120ca2f2695d22bc",
        "name": "StoreDataset",
        "func": "const rows = Array.isArray(msg.payload) ? msg.payload : [];\nflow.set(\"dataset_rows\", rows);\n\nconst displayLimit = Number(env.get(\"DISPLAY_LIMIT\") || 6);\nconst anomalyFactor = Number(env.get(\"ANOMALY_FACTOR\") || 1.5);\nconst mode = flow.get(\"mode\") || \"AUTO\";\nconst shutdownActive = !!flow.get(\"shutdown_active\");\n\nconst noisy = rows.slice(0, Math.max(0, displayLimit - 1)).map((row) => ({\n    garage_id: row.garage_id,\n    value: Math.max(0, Number(row.value || 0) + Math.floor(Math.random() * 31) - 15)\n}));\n\nflow.set(\"others_displayed\", noisy);\n\nconst meanSource = noisy.length ? noisy : rows;\nconst mean = meanSource.length\n    ? meanSource.reduce((acc, row) => acc + Number(row.value || 0), 0) / meanSource.length\n    : 0;\n\nconst liveOthersMean = Number(mean.toFixed(2));\nflow.set(\"others_mean\", liveOthersMean);\nflow.set(\"updated_at\", new Date().toISOString());\n\nconst telemetry = flow.get(\"telemetry\") || null;\nconst threshold = telemetry && Number.isFinite(Number(telemetry.threshold))\n    ? Number(Number(telemetry.threshold).toFixed(2))\n    : Number((liveOthersMean * anomalyFactor).toFixed(2));\n\nconst predictors = {};\nconst evaluated = noisy.map((garage) => {\n    const value = Number(garage.value || 0);\n    const anomaly = value > threshold;\n    const predictedCrossing = false;\n    const status = anomaly ? \"CRITICAL\" : predictedCrossing ? \"WARNING\" : \"SAFE\";\n\n    const fanActive = shutdownActive\n        ? false\n        : mode === \"ON\"\n            ? true\n            : mode === \"OFF\"\n                ? false\n                : (status === \"WARNING\" || status === \"CRITICAL\");\n\n    predictors[garage.garage_id] = {\n        history: [value],\n        previous_avg: value\n    };\n\n    return {\n        garage_id: garage.garage_id,\n        value,\n        threshold,\n        predicted_gas: Math.round(value),\n        predicted_crossing: predictedCrossing,\n        anomaly,\n        status,\n        fan_active: fanActive\n    };\n});\n\nflow.set(\"garage_predictors\", predictors);\nflow.set(\"evaluated_other_garages\", evaluated);\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1350,
        "y": 1060,
        "wires": [
            [
                "f666bb851cf7f093"
            ]
        ]
    },
    {
        "id": "f666bb851cf7f093",
        "type": "function",
        "z": "120ca2f2695d22bc",
        "name": "BuildDashboardState",
        "func": "const telemetry = flow.get(\"telemetry\") || null;\nconst latestAuto = flow.get(\"latest_auto_command\") || null;\nconst latestManual = flow.get(\"latest_manual_command\") || \"AUTO\";\nconst latestAlert = flow.get(\"latest_alert\") || null;\nconst mode = flow.get(\"mode\") || \"AUTO\";\nconst shutdownActive = !!flow.get(\"shutdown_active\");\nconst anomalyFactor = Number(env.get(\"ANOMALY_FACTOR\") || 1.5);\nconst displayLimit = Number(env.get(\"DISPLAY_LIMIT\") || 6);\n\nlet datasetRows = flow.get(\"dataset_rows\") || [];\nlet othersDisplayed = flow.get(\"others_displayed\") || [];\nlet othersMean = Number(flow.get(\"others_mean\") || 0);\nlet evaluatedOthers = flow.get(\"evaluated_other_garages\") || [];\n\nif ((!datasetRows || datasetRows.length === 0) && othersDisplayed.length === 0) {\n    datasetRows = [\n        { garage_id: \"G2\", value: 100 },\n        { garage_id: \"G3\", value: 98 },\n        { garage_id: \"G4\", value: 101 },\n        { garage_id: \"G5\", value: 102 },\n        { garage_id: \"G6\", value: 99 }\n    ];\n    othersDisplayed = datasetRows.slice(0, Math.max(0, displayLimit - 1));\n    othersMean = 100;\n}\n\nconst otherRows = othersDisplayed.length\n    ? othersDisplayed.slice(0, Math.max(0, displayLimit - 1))\n    : datasetRows.slice(0, Math.max(0, displayLimit - 1));\n\nconst liveOthersMean = otherRows.length\n    ? Number((otherRows.reduce((acc, row) => acc + Number(row.value || 0), 0) / otherRows.length).toFixed(2))\n    : othersMean;\n\nconst threshold = (() => {\n    if (telemetry && Number.isFinite(Number(telemetry.threshold))) {\n        return Number(Number(telemetry.threshold).toFixed(2));\n    }\n    return Number((liveOthersMean * anomalyFactor).toFixed(2));\n})();\n\nconst lastTelemetryMs = Number(flow.get(\"lastTelemetryMs\") || 0);\nconst mqttConnected = lastTelemetryMs > 0 && (Date.now() - lastTelemetryMs) < 7000;\n\nconst g1Value = Number(telemetry?.gas || 0);\nconst g1Anomaly = !!(latestAuto && latestAuto.anomaly) || g1Value > threshold;\nconst g1PredictedCrossing = !g1Anomaly && !!(latestAuto && latestAuto.predicted_crossing);\nconst g1Status = g1Anomaly ? \"CRITICAL\" : g1PredictedCrossing ? \"WARNING\" : \"SAFE\";\nconst g1Fan = shutdownActive\n    ? false\n    : (mode === \"ON\"\n        ? true\n        : mode === \"OFF\"\n            ? false\n            : (g1Status === \"WARNING\" || g1Status === \"CRITICAL\" || !!telemetry?.fan_state));\n\nconst displaySensors = [{\n    garage_id: \"G1\",\n    value: g1Value,\n    threshold,\n    status: g1Status,\n    fan_active: g1Fan,\n    anomaly: g1Anomaly,\n    predicted_crossing: g1PredictedCrossing\n}];\n\nif (!Array.isArray(evaluatedOthers) || evaluatedOthers.length === 0) {\n    evaluatedOthers = otherRows.map((row) => {\n        const value = Number(row.value || 0);\n        const anomaly = value > threshold;\n        const predictedCrossing = false;\n        const status = anomaly ? \"CRITICAL\" : predictedCrossing ? \"WARNING\" : \"SAFE\";\n        const fanActive = shutdownActive\n            ? false\n            : (mode === \"ON\"\n                ? true\n                : mode === \"OFF\"\n                    ? false\n                    : (status === \"WARNING\" || status === \"CRITICAL\"));\n\n        return {\n            garage_id: row.garage_id,\n            value,\n            threshold,\n            status,\n            fan_active: fanActive,\n            anomaly,\n            predicted_crossing: predictedCrossing\n        };\n    });\n}\n\nfor (const row of evaluatedOthers.slice(0, Math.max(0, displayLimit - 1))) {\n    displaySensors.push({\n        garage_id: row.garage_id,\n        value: Number(row.value || 0),\n        threshold,\n        status: row.status || \"SAFE\",\n        fan_active: shutdownActive\n            ? false\n            : (mode === \"ON\"\n                ? true\n                : mode === \"OFF\"\n                    ? false\n                    : !!row.fan_active),\n        anomaly: !!row.anomaly,\n        predicted_crossing: !!row.predicted_crossing\n    });\n}\n\nmsg.payload = {\n    mqtt_connected: mqttConnected,\n    broker_url: \"Node-RED cloud pipeline\",\n    telemetry,\n    latest_auto_command: latestAuto,\n    latest_manual_command: latestManual,\n    latest_alert: latestAlert,\n    others_mean: liveOthersMean,\n    threshold,\n    anomaly_factor: anomalyFactor,\n    mode,\n    display_sensors: displaySensors,\n    updated_at: telemetry?.timestamp || flow.get(\"updated_at\") || new Date().toISOString(),\n    dataset_name: flow.get(\"dataset_name\") || \"Nominal State\",\n    available_datasets: flow.get(\"available_datasets\") || [\"Nominal State\", \"Critical State\", \"Low Pollution\", \"Realistic Pollution\"],\n    selected_dataset: Number(flow.get(\"selected_dataset\") || 0),\n    shutdown_active: shutdownActive\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1560,
        "y": 1060,
        "wires": [
            [
                "56a416b4225db871"
            ]
        ]
    },
    {
        "id": "56a416b4225db871",
        "type": "http response",
        "z": "120ca2f2695d22bc",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1780,
        "y": 1060,
        "wires": []
    },
    {
        "id": "fa7ea4cd5d19dc31",
        "type": "inject",
        "z": "120ca2f2695d22bc",
        "name": "init default dataset",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.8,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 150,
        "y": 1140,
        "wires": [
            [
                "659876fb24721b5a"
            ]
        ]
    },
    {
        "id": "659876fb24721b5a",
        "type": "function",
        "z": "120ca2f2695d22bc",
        "name": "InitDefaultDatasetMeta",
        "func": "const base = String(env.get(\"DATASET_DIR\") || \"/data/offgas-datasets\");\nflow.set(\"selected_dataset\", 0);\nflow.set(\"dataset_name\", \"Nominal State\");\nflow.set(\"available_datasets\", [\"Nominal State\",\"Critical State\",\"Low Pollution\",\"Realistic Pollution\"]);\nmsg.filename = base + \"/dataset_garage.csv\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 1140,
        "wires": [
            [
                "eda3d1ab84e8de1b"
            ]
        ]
    },
    {
        "id": "eda3d1ab84e8de1b",
        "type": "file in",
        "z": "120ca2f2695d22bc",
        "name": "Read dataset file",
        "filename": "filename",
        "filenameType": "msg",
        "format": "utf8",
        "chunk": false,
        "sendError": true,
        "encoding": "none",
        "allProps": false,
        "x": 700,
        "y": 1140,
        "wires": [
            [
                "c51fa0292081a363"
            ]
        ]
    },
    {
        "id": "c51fa0292081a363",
        "type": "function",
        "z": "120ca2f2695d22bc",
        "name": "ParseDatasetCsv",
        "func": "const text=String(msg.payload||\"\").split(\"\\r\").join(\"\").trim();const lines=text.split(\"\\n\").map(line=>line.trim()).filter(Boolean);const rows=[];for(let i=1;i<lines.length;i++){const line=lines[i];let parts=line.split(\",\");if(parts.length<2){parts=line.split(\";\")}if(parts.length<2){continue}const garage_id=String(parts[0]).trim();const value=Number(String(parts[1]).trim());if(!garage_id||garage_id===\"G1\"||!Number.isFinite(value)){continue}rows.push({garage_id,value})}msg.payload=rows;return msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 940,
        "y": 1140,
        "wires": [
            [
                "fe53c607b1dc7cec"
            ]
        ]
    },
    {
        "id": "fe53c607b1dc7cec",
        "type": "function",
        "z": "120ca2f2695d22bc",
        "name": "StoreDataset",
        "func": "const rows = Array.isArray(msg.payload) ? msg.payload : [];\nflow.set(\"dataset_rows\", rows);\n\nconst displayLimit = Number(env.get(\"DISPLAY_LIMIT\") || 6);\nconst anomalyFactor = Number(env.get(\"ANOMALY_FACTOR\") || 1.5);\nconst mode = flow.get(\"mode\") || \"AUTO\";\nconst shutdownActive = !!flow.get(\"shutdown_active\");\n\nconst noisy = rows.slice(0, Math.max(0, displayLimit - 1)).map((row) => ({\n    garage_id: row.garage_id,\n    value: Math.max(0, Number(row.value || 0) + Math.floor(Math.random() * 31) - 15)\n}));\n\nflow.set(\"others_displayed\", noisy);\n\nconst meanSource = noisy.length ? noisy : rows;\nconst mean = meanSource.length\n    ? meanSource.reduce((acc, row) => acc + Number(row.value || 0), 0) / meanSource.length\n    : 0;\n\nconst liveOthersMean = Number(mean.toFixed(2));\nflow.set(\"others_mean\", liveOthersMean);\nflow.set(\"updated_at\", new Date().toISOString());\n\nconst telemetry = flow.get(\"telemetry\") || null;\nconst threshold = telemetry && Number.isFinite(Number(telemetry.threshold))\n    ? Number(Number(telemetry.threshold).toFixed(2))\n    : Number((liveOthersMean * anomalyFactor).toFixed(2));\n\nconst predictors = {};\nconst evaluated = noisy.map((garage) => {\n    const value = Number(garage.value || 0);\n    const anomaly = value > threshold;\n    const predictedCrossing = false;\n    const status = anomaly ? \"CRITICAL\" : predictedCrossing ? \"WARNING\" : \"SAFE\";\n\n    const fanActive = shutdownActive\n        ? false\n        : mode === \"ON\"\n            ? true\n            : mode === \"OFF\"\n                ? false\n                : (status === \"WARNING\" || status === \"CRITICAL\");\n\n    predictors[garage.garage_id] = {\n        history: [value],\n        previous_avg: value\n    };\n\n    return {\n        garage_id: garage.garage_id,\n        value,\n        threshold,\n        predicted_gas: Math.round(value),\n        predicted_crossing: predictedCrossing,\n        anomaly,\n        status,\n        fan_active: fanActive\n    };\n});\n\nflow.set(\"garage_predictors\", predictors);\nflow.set(\"evaluated_other_garages\", evaluated);\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1160,
        "y": 1140,
        "wires": [
            []
        ]
    },
    {
        "id": "962cf8edfbfc0d54",
        "type": "http in",
        "z": "120ca2f2695d22bc",
        "name": "POST /api/emergency",
        "url": "/api/emergency",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 140,
        "y": 1220,
        "wires": [
            [
                "82411feeac3a5eb2"
            ]
        ]
    },
    {
        "id": "82411feeac3a5eb2",
        "type": "json",
        "z": "120ca2f2695d22bc",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 380,
        "y": 1220,
        "wires": [
            [
                "83533f38767a391d"
            ]
        ]
    },
    {
        "id": "83533f38767a391d",
        "type": "function",
        "z": "120ca2f2695d22bc",
        "name": "SetEmergencyState",
        "func": "let body = msg.payload;\n\nif (typeof body === \"string\") {\n    try {\n        body = JSON.parse(body);\n    } catch (e) {\n        body = {};\n    }\n}\n\nconst active =\n    body.active === true ||\n    body.active === \"true\" ||\n    body.active === 1 ||\n    body.active === \"1\";\n\nflow.set(\"shutdown_active\", active);\nflow.set(\"updated_at\", new Date().toISOString());\nflow.set(\"latest_alert\", {\n    event: \"emergency_shutoff\",\n    command: active ? \"ACTIVE\" : \"RESUMED\",\n    timestamp: new Date().toISOString()\n});\n\nflow.set(\"mode\", active ? \"OFF\" : \"AUTO\");\nflow.set(\"manual_override\", active ? true : false);\nflow.set(\"latest_manual_command\", active ? \"FAN_OFF\" : \"AUTO\");\n\nconst cmdMsg = { payload: active ? \"FAN_OFF\" : \"AUTO\" };\n\nreturn [cmdMsg, msg];",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 1220,
        "wires": [
            [
                "b0bcd67580bad4b1",
                "b6fdb6a2b4419a97"
            ],
            [
                "3c03efd26b87a077"
            ]
        ]
    },
    {
        "id": "3c03efd26b87a077",
        "type": "function",
        "z": "120ca2f2695d22bc",
        "name": "BuildDashboardState",
        "func": "const telemetry = flow.get(\"telemetry\") || null;\nconst latestAuto = flow.get(\"latest_auto_command\") || null;\nconst latestManual = flow.get(\"latest_manual_command\") || \"AUTO\";\nconst latestAlert = flow.get(\"latest_alert\") || null;\nconst mode = flow.get(\"mode\") || \"AUTO\";\nconst shutdownActive = !!flow.get(\"shutdown_active\");\nconst anomalyFactor = Number(env.get(\"ANOMALY_FACTOR\") || 1.5);\nconst displayLimit = Number(env.get(\"DISPLAY_LIMIT\") || 6);\n\nlet datasetRows = flow.get(\"dataset_rows\") || [];\nlet othersDisplayed = flow.get(\"others_displayed\") || [];\nlet othersMean = Number(flow.get(\"others_mean\") || 0);\nlet evaluatedOthers = flow.get(\"evaluated_other_garages\") || [];\n\nif ((!datasetRows || datasetRows.length === 0) && othersDisplayed.length === 0) {\n    datasetRows = [\n        { garage_id: \"G2\", value: 100 },\n        { garage_id: \"G3\", value: 98 },\n        { garage_id: \"G4\", value: 101 },\n        { garage_id: \"G5\", value: 102 },\n        { garage_id: \"G6\", value: 99 }\n    ];\n    othersDisplayed = datasetRows.slice(0, Math.max(0, displayLimit - 1));\n    othersMean = 100;\n}\n\nconst otherRows = othersDisplayed.length\n    ? othersDisplayed.slice(0, Math.max(0, displayLimit - 1))\n    : datasetRows.slice(0, Math.max(0, displayLimit - 1));\n\nconst liveOthersMean = otherRows.length\n    ? Number((otherRows.reduce((acc, row) => acc + Number(row.value || 0), 0) / otherRows.length).toFixed(2))\n    : othersMean;\n\nconst threshold = (() => {\n    if (telemetry && Number.isFinite(Number(telemetry.threshold))) {\n        return Number(Number(telemetry.threshold).toFixed(2));\n    }\n    return Number((liveOthersMean * anomalyFactor).toFixed(2));\n})();\n\nconst lastTelemetryMs = Number(flow.get(\"lastTelemetryMs\") || 0);\nconst mqttConnected = lastTelemetryMs > 0 && (Date.now() - lastTelemetryMs) < 7000;\n\nconst g1Value = Number(telemetry?.gas || 0);\nconst g1Anomaly = !!(latestAuto && latestAuto.anomaly) || g1Value > threshold;\nconst g1PredictedCrossing = !g1Anomaly && !!(latestAuto && latestAuto.predicted_crossing);\nconst g1Status = g1Anomaly ? \"CRITICAL\" : g1PredictedCrossing ? \"WARNING\" : \"SAFE\";\nconst g1Fan = shutdownActive\n    ? false\n    : (mode === \"ON\"\n        ? true\n        : mode === \"OFF\"\n            ? false\n            : (g1Status === \"WARNING\" || g1Status === \"CRITICAL\" || !!telemetry?.fan_state));\n\nconst displaySensors = [{\n    garage_id: \"G1\",\n    value: g1Value,\n    threshold,\n    status: g1Status,\n    fan_active: g1Fan,\n    anomaly: g1Anomaly,\n    predicted_crossing: g1PredictedCrossing\n}];\n\nif (!Array.isArray(evaluatedOthers) || evaluatedOthers.length === 0) {\n    evaluatedOthers = otherRows.map((row) => {\n        const value = Number(row.value || 0);\n        const anomaly = value > threshold;\n        const predictedCrossing = false;\n        const status = anomaly ? \"CRITICAL\" : predictedCrossing ? \"WARNING\" : \"SAFE\";\n        const fanActive = shutdownActive\n            ? false\n            : (mode === \"ON\"\n                ? true\n                : mode === \"OFF\"\n                    ? false\n                    : (status === \"WARNING\" || status === \"CRITICAL\"));\n\n        return {\n            garage_id: row.garage_id,\n            value,\n            threshold,\n            status,\n            fan_active: fanActive,\n            anomaly,\n            predicted_crossing: predictedCrossing\n        };\n    });\n}\n\nfor (const row of evaluatedOthers.slice(0, Math.max(0, displayLimit - 1))) {\n    displaySensors.push({\n        garage_id: row.garage_id,\n        value: Number(row.value || 0),\n        threshold,\n        status: row.status || \"SAFE\",\n        fan_active: shutdownActive\n            ? false\n            : (mode === \"ON\"\n                ? true\n                : mode === \"OFF\"\n                    ? false\n                    : !!row.fan_active),\n        anomaly: !!row.anomaly,\n        predicted_crossing: !!row.predicted_crossing\n    });\n}\n\nmsg.payload = {\n    mqtt_connected: mqttConnected,\n    broker_url: \"Node-RED cloud pipeline\",\n    telemetry,\n    latest_auto_command: latestAuto,\n    latest_manual_command: latestManual,\n    latest_alert: latestAlert,\n    others_mean: liveOthersMean,\n    threshold,\n    anomaly_factor: anomalyFactor,\n    mode,\n    display_sensors: displaySensors,\n    updated_at: telemetry?.timestamp || flow.get(\"updated_at\") || new Date().toISOString(),\n    dataset_name: flow.get(\"dataset_name\") || \"Nominal State\",\n    available_datasets: flow.get(\"available_datasets\") || [\"Nominal State\", \"Critical State\", \"Low Pollution\", \"Realistic Pollution\"],\n    selected_dataset: Number(flow.get(\"selected_dataset\") || 0),\n    shutdown_active: shutdownActive\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 920,
        "y": 1220,
        "wires": [
            [
                "2fe56f8e9467a824"
            ]
        ]
    },
    {
        "id": "2fe56f8e9467a824",
        "type": "http response",
        "z": "120ca2f2695d22bc",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1200,
        "y": 1220,
        "wires": []
    },
    {
        "id": "bde8781f8c1bb119",
        "type": "http in",
        "z": "120ca2f2695d22bc",
        "name": "GET /api/health",
        "url": "/api/health",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 140,
        "y": 1300,
        "wires": [
            [
                "1dcd153d30af964f"
            ]
        ]
    },
    {
        "id": "1dcd153d30af964f",
        "type": "function",
        "z": "120ca2f2695d22bc",
        "name": "BuildHealth",
        "func": "const lastTelemetryMs = Number(flow.get(\"lastTelemetryMs\") || 0);\nmsg.payload = {\n    ok: true,\n    mqtt_connected: lastTelemetryMs > 0 && (Date.now() - lastTelemetryMs) < 7000,\n    dataset_name: flow.get(\"dataset_name\") || \"Nominal State\",\n    shutdown_active: !!flow.get(\"shutdown_active\")\n};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 1300,
        "wires": [
            [
                "7f82ddd0d6522a87"
            ]
        ]
    },
    {
        "id": "7f82ddd0d6522a87",
        "type": "http response",
        "z": "120ca2f2695d22bc",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 670,
        "y": 1300,
        "wires": []
    },
    {
        "id": "1ca6e9f8261ff6f4",
        "type": "debug",
        "z": "120ca2f2695d22bc",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 940,
        "y": 80,
        "wires": []
    },
    {
        "id": "8a8e611fcac1f56b",
        "type": "inject",
        "z": "120ca2f2695d22bc",
        "d": true,
        "name": "",
        "props": [],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 130,
        "y": 580,
        "wires": [
            [
                "3e87e5e4949944c2"
            ]
        ]
    },
    {
        "id": "714aeec64b49e10b",
        "type": "mqtt out",
        "z": "120ca2f2695d22bc",
        "name": "",
        "topic": "garages/G1/telemetry",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "81223a50cede7de0",
        "x": 760,
        "y": 580,
        "wires": []
    },
    {
        "id": "3e87e5e4949944c2",
        "type": "function",
        "z": "120ca2f2695d22bc",
        "name": "TESTING",
        "func": "const baseGas = 140;\nconst variation = Math.floor(Math.random() * 31) - 15; // -15 / +15\nconst gas = Math.max(0, baseGas + variation);\n\nmsg.payload = {\n    garage_id: \"G1\",\n    gas: gas,\n    timestamp: new Date().toISOString(),\n    fan_state: false\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 580,
        "wires": [
            [
                "714aeec64b49e10b"
            ]
        ]
    },
    {
        "id": "81223a50cede7de0",
        "type": "mqtt-broker",
        "name": "",
        "broker": "mosquitto",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "cc501ce1a6ea860b",
        "type": "telegram bot",
        "botname": "@AlertOffgass_bot",
        "usernames": "",
        "chatids": "",
        "baseapiurl": "",
        "testenvironment": false,
        "updatemode": "polling",
        "pollinterval": 300,
        "usesocks": false,
        "sockshost": "",
        "socksprotocol": "socks5",
        "socksport": 6667,
        "socksusername": "anonymous",
        "sockspassword": "",
        "bothost": "",
        "botpath": "",
        "localbothost": "0.0.0.0",
        "localbotport": 8443,
        "publicbotport": 8443,
        "privatekey": "",
        "certificate": "",
        "useselfsignedcertificate": false,
        "sslterminated": false,
        "verboselogging": false
    },
    {
        "id": "c307d51829b4dc57",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-contrib-telegrambot": "17.1.2"
        }
    }
]